.burger {
    width: 30px;
    height: 25px;


   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    position: relative;
    z-index: 1007;

    &__line {
        height: 1px;
        width: 100%;
        background-color: var(--black);
    }


    @media (max-width: 650px) {
        display: flex;
    }
}
