.footer {
    background-color: #fff;
    padding: 46px 0;
    font-size: 16px;
    color: var(--greydark);

    @media (max-width: 650px) {
        padding: 20px 0;
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 10px;
        white-space: nowrap;

        @media (any-hover: hover) {
            &:hover {
                color: var(--yellow);
            }
        }
    }

    &__email {
        @media (any-hover: hover) {
            &:hover {
                color: var(--yellow);
            }
        }
    }

    &__logo {
        @media (max-width: 650px) {
            display: block;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, auto);
        }

        @media (max-width: 650px) {
            display: block;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;

        row-gap: 10px;

        @media (max-width: 768px) {
            grid-column: 1/3;
            justify-self: center;
            align-items: center;
        }
    }

    &__nav {
        @media (max-width: 650px) {
            margin-bottom: 20px;
        }
    }
}
