<footer class="footer">
  <div class="container">
    <div class="footer__inner">
        <a href="./" class="footer__logo">
          <img src="./images/logo.png" alt="">
        </a>
        <ul class="footer__nav menu__list">
          <li class="menu__item"><a class="menu__link " href="#about">Про нас</a></li>
          <li class="menu__item"><a class="menu__link " href="#products">Каталог</a></li>
          <li class="menu__item"><a class="menu__link " href="#teachers">Команда</a></li>
          <li class="menu__item"><a class="menu__link" href="#reviews">Отзывы</a></li>
          <li class="menu__item"><a class="menu__link" href="#courses">Курсы</a></li>
          <li class="menu__item"><a class="menu__link" href="#subscribe">Контакты</a></li>
        </ul>
      <div class="footer__contacts">
        <a href="tel:4565789876" class="footer__phone">
          <span class="_icon-phone"></span>
          +45 65 78 98 76
        </a>
        <a href="mailto:candelsCandels@gmail.com" class="footer__email">candelsCandels2@gmail.com</a>
        <ul class="footer__socials socials">
          <li class="socials__item">
            <a href="./" class="socials__link _icon-linkedin"></a>
          </li>
          <li class="socials__item">
            <a href="./" class="socials__link _icon-youtube"></a>
          </li>
          <li class="socials__item">
            <a href="./" class="socials__link _icon-instagram"></a>
          </li>
          <li class="socials__item">
            <a href="./" class="socials__link _icon-facebook"></a>
          </li>
  
        </ul>
      </div>
    </div>

  </div>


</footer>