<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="./" class="header__logo logo"><img src="./images/logo.png" alt=""></a>
            <nav class="menu">
                <button class="menu__close">
                    <svg width="14" height="16" viewBox="0 0 14 16"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14 1.54634L12.59 0L7 6.13053L1.41 0L0 1.54634L5.59 7.67687L0 13.8074L1.41 15.3537L7 9.22321L12.59 15.3537L14 13.8074L8.41 7.67687L14 1.54634Z" fill="#fff">
                        </path>
                    </svg>
                </button>
                <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link " href="#about">Про нас</a></li>
                    <li class="menu__item"><a class="menu__link " href="#products">Каталог</a></li>
                    <li class="menu__item"><a class="menu__link " href="#teachers">Команда</a></li>
                    <li class="menu__item"><a class="menu__link" href="#reviews">Отзывы</a></li>
                    <li class="menu__item"><a class="menu__link" href="#courses">Курсы</a></li>
                    <li class="menu__item"><a class="menu__link" href="#subscribe">Контакты</a></li>
                </ul>
            </nav>
            <a href="tel:4565789876" class="header__phone">
                <span class="_icon-phone"></span>
                +45 65 78 98 76
            </a>

            <button class="burger">
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
            </button>
        </div>
    </div>
</header>