.btn {
    padding: 20px 45px;
    font-weight: 600;
    color: #272727;
    background-color: var(--yellow);
    transition: all 0.3s ease-out;

    @media (min-width: 1024px) {
        padding: 14px 34px;
    }
    @media (max-width: 650px) {
        font-size: 14px;
        padding: 11px 26px;
    }

    @media (any-hover: hover) {
        &:hover {
            background-color:  #bf7489;
        }
     }

      &:active {
            background-color:  #bf7489;
        }
}

.slider-pagination {
    display: flex;
    justify-content: center;
    gap: 5px;

    &__bullet {
        width: 28px;
        height: 4px;
        background-color: var(--beige);
        &--active {
            background-color: var(--beigedark);
        }
    }
}

.socials {
    display: flex;
    gap: 20px;
    font-size: 18px;

    &__link {
        @media (any-hover: hover) {
            &:hover {
                transition: opacity 0.3s ease-out;
                opacity: 0.7;
            }
        }
    }
}
