
[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}
._icon-facebook:before {
  content: "\e901";
}
._icon-instagram:before {
  content: "\e902";
}
._icon-linkedin:before {
  content: "\e903";
}
._icon-phone:before {
  content: "\e904";
}
._icon-youtube:before {
  content: "\e905";
}

